@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: #0F0F1E;
}

a {
  color: inherit;
  text-decoration: none;
}

