@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F1E;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
}

